body { cursor: url('../resources/image/cursor.png'), default; margin: 0; auto; background-color: #000000; color: #fff, font-weight:bold; text-shadow: 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000, -2px -2px 1px #000; }
div { color: #fff, font-weight:bold; text-shadow: 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000, -2px -2px 1px #000; }
input { text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000; }
input[type*="button"] { cursor: url('../resources/image/cursor.png'), default; }
video { position: absolute; }
